<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/users/list" method="POST"></form>
    <label> title <input type="text" name="lists" /></label>
    <ol>
    <li><input type="text" name="lists[]"></li>
    <li><input type="text" name="lists[]"></li>
    <li><input type="text" name="lists[]"></li>
    <li><input type="text" name="lists[]"></li>
    <li><input type="text" name="lists[]"></li>
</ol>
    <button type="submit">Create</button>
    </form>
  </body>
</html>